[submodule "portedplugins"]
	path = portedplugins
	url = https://github.com/madskjeldgaard/portedplugins
[submodule "mi-UGens"]
	path = mi-UGens
	url = https://github.com/v7b1/mi-UGens
[submodule "src/portedplugins"]
	path = src/portedplugins
	url = https://github.com/madskjeldgaard/portedplugins
[submodule "src/mi-UGens"]
	path = src/mi-UGens
	url = https://github.com/v7b1/mi-UGens
[submodule "src/f0plugins"]
	path = src/f0plugins
	url = https://github.com/redFrik/f0plugins
[submodule "src/IBufWr"]
	path = src/IBufWr
	url = https://github.com/tremblap/IBufWr
[submodule "src/pulseptr"]
	path = src/pulseptr
	url = https://github.com/ryleelyman/pulseptr
[submodule "src/triangleptr"]
	path = src/triangleptr
	url = https://github.com/ryleelyman/triangleptr
[submodule "src/supercollider-cd-skip"]
	path = src/supercollider-cd-skip
	url = https://github.com/nhthn/supercollider-cd-skip
[submodule "src/houvilainenfilter"]
	path = src/houvilainenfilter
	url = https://github.com/esluyter/houvilainenfilter
[submodule "src/NasalDemons"]
	path = src/NasalDemons
	url = https://github.com/elgiano/NasalDemons
[submodule "src/XPlayBuf"]
	path = src/XPlayBuf
	url = https://github.com/elgiano/XPlayBuf
[submodule "src/super-bufrd"]
	path = src/super-bufrd
	url = https://github.com/esluyter/super-bufrd
