[submodule "portedplugins"]
	path = portedplugins
	url = https://github.com/madskjeldgaard/portedplugins
[submodule "mi-UGens"]
	path = mi-UGens
	url = https://github.com/v7b1/mi-UGens
[submodule "src/portedplugins"]
	path = src/portedplugins
	url = https://github.com/madskjeldgaard/portedplugins
[submodule "src/mi-UGens"]
	path = src/mi-UGens
	url = https://github.com/v7b1/mi-UGens
